<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="React Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/(api|static)" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>
        <!-- 规则 1: 代理 API 请求到 Node.js 后端 -->
        <rule name="反向代理9017" stopProcessing="true">
          <!-- 匹配路径: /api/ 后面的所有内容 -->
          <match url="^api/(.*)" />
          
          <conditions>
            <!-- 可选：确保只处理 HTTPS 请求，或者根据域名过滤 -->
            <!-- <add input="{HTTPS}" pattern="on" /> -->
          </conditions>

          <!-- 3. 动作：代理到本地后端服务 -->
          <!-- {R:1} 代表上面 match 中捕获的 (.*) 部分 -->
          <action type="Rewrite" url="http://localhost:9017/api/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>